footer{
    background-color: $color__1;
    position: absolute;
    width: 100%;
    margin-top: 2rem;

    .site-info{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        bottom: 0;
        right: 0;
        width: 100%;

        #menu-footer{
            margin: 0;
            padding: .5rem;
            li{
                list-style: none;
                margin: 1rem 0;
                a{
                    text-decoration: none;
                    padding: .85rem;
                    @media(min-width: $breakpoint-desktop){
                        transition: .5s;
                        &:hover{
                            box-shadow:
                                1px 1px $color__5,
                                2px 2px $color__5,
                                3px 3px $color__5;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
        .footer-info{
            margin: 0 0.7rem;
            p{
                margin-bottom: 0;
                margin-right: .5rem;
                a{
                    text-decoration: none;
                    padding: .5rem;
                    &:hover{
                        box-shadow:
                            1px 1px $color__5,
                            2px 2px $color__5,
                            3px 3px $color__5;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    #credits{
        text-align: center;
        padding: 1.2rem 0;
        p{
            display: inline;
        }
        a{
            text-decoration: none;
            padding: .5rem .2rem;
            &:hover{
                box-shadow:
                    1px 1px $color__5,
                    2px 2px $color__5,
                    3px 3px $color__5;
                transition: 0.5s;
            }
        }
        @media(min-width:$breakpoint-desktop){
            padding-top: 0;
        }
    }
}

@media(min-width: $breakpoint-tablet ){
    footer{
        font-size: 0.77rem;
        .site-info{
            p{
                margin: 0.5rem;
            }
        }
        #menu-footer{
            display: flex;
        }
        .footer-info{
            display: flex;
            align-items: center;
            margin: 0 1.2rem;
        }
    }
}
@media(min-width: $breakpoint-tablet ){
    footer{
        font-size:85%;
    }

    .site-info{
        p{
            margin-bottom: initial;
            margin: 1rem;
        }
    }
}

.page-id-30 .entry-footer {
    display: none;
}
@media(min-width:$breakpoint-desktop){
    footer{
        font-size: 1rem;
    }
}